@media screen and (max-width: 1600px) {
    
    header{
        flex-direction: column;
    }

    nav{
        line-height: 30px;
        flex-direction: column;
        text-align: center;
        height: 15vh;
    }

    #simbolo{
        display: none;
    }
}